<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="by.springcourse.MetalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getMetalMusic">
    </bean>

    <bean id="metalMusicBean"
          class="by.springcourse.MetalMusic">
    </bean>
    <bean id="rockMusicBean"
          class="by.springcourse.RockMusic">
    </bean>
    <bean id="classicalMusicBean"
          class="by.springcourse.ClassicalMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="by.springcourse.MusicPlayer"
          scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
        <property name="music" ref="musicBean" />
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

    <bean id="musicListBean" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="metalMusicBean" />
                <ref bean="rockMusicBean" />
                <ref bean="classicalMusicBean" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayerWithListBean"
          class="by.springcourse.MusicPlayer"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
        <property name="musicList" ref="musicListBean" />
        <property name="name" value="${musicPlayerWithListBean.name}"/>
        <property name="volume" value="${musicPlayerWithListBean.volume}"/>
    </bean>

</beans>